@model ForgetPasswordViewModel;
@{
    ViewData["Title"] = "ResetPassword";
}
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<style>
    .err-h6 {
        display: flex;
        justify-content: center;
    }
</style>
<div class="container">
    <div class="row" style="margin-top:40px;">
        <div class="col-md-6 offset-md-3">
            <h2 style="display:flex;justify-content:center;"> Forget Password</h2>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

            <form method="post" asp-controller="Home" asp-action="ForgetPassword">
                <div class="alert alert-warning err-h6">Password reset link will be sent to your email address.</div>
                <div class="col-md-12 mb-3">
                    @* <label for="email" class="form-label">Email address</label> *@
                    <input type="email" class="form-control" id="email" aria-describedby="email" asp-for="Email" placeholder="please enter your email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="row col-md-12 mb-3 ms-lg-0">
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

