@model ResetPasswordViewModel;
@{
    ViewData["Title"] = "ResetPassword";
}

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<div class="container">
    <div class="row" style="margin-top:40px;">
        <div class="col-md-6 offset-md-3">
            <h2 style="display:flex;justify-content:center;"> Reset Password</h2>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }

            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
            </div>

            <form method="post" asp-controller="Home" asp-action="ResetPassword">
                <div class="row mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" asp-for="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="row mb-3">
                    <label for="passwordConfirm" class="form-label">Password Confirm</label>
                    <input type="password" class="form-control" id="passwordConfirm" asp-for="PasswordConfirm">
                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                </div>
                <div class="row mb-3">
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>