@model UserPasswordChangeViewModel;
@{
    ViewData["Title"] = "ChangePassword";
}
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<style>
    body {
        background-color: #f8f9fa;
    }

    .profile-edit-card {
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    .profile-edit-card-header {
        background-color: #007bff;
        color: white;
        border-radius: 15px 15px 0 0;
        padding: 20px;
    }

    .profile-edit-card-body {
        padding: 20px;
    }
</style>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card profile-edit-card">
                <div class="card-header profile-edit-card-header text-center">
                    <h2>Change Password</h2>
                </div>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
                </div>

                <div class="card-body profile-edit-card-body">
                    <form method="post" asp-action="ChangePassword" asp-controller="Profile">
                        <div class="mb-3">
                            <label for="oldPassword" class="form-label">Old Password</label>
                            <input type="password" class="form-control" id="oldPassword" asp-for="OldPassword">
                            <span class="text-danger" asp-validation-for="OldPassword"></span>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="newPassword" asp-for="NewPassword">
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" asp-for="ConfirmPassword">
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>